<div class="card">
    <div class="card-header">
        <h5>Informations</h5>
    </div>

    <!-- Body content -->
    <div class="card-body">
        <form [formGroup]="form">
            <!-- Form Group -->
            <div class="row col-lg-8 mx-auto form-group">
                <label class="col-sm-3 col-form-label input-label">Votre photo</label>

                <div class="col-sm-9">
                  <div class="media align-items-center">
                    <label class="avatar avatar-xl avatar-circle mr-4" for="avatarUploader">
                      <img id="avatarImg" class="avatar-img" [src]="!!profile.value ? showImage() : url_img" alt="Image Description">
                    </label>

                    <div class="media-body">
                      <div class="btn btn-sm btn-primary file-attachment-btn mb-2 mb-sm-0 mr-2">Prendre une Photo
                        <input type="file" class="js-file-attach file-attachment-btn-label" formControlName="profile" (change)='onPickFile($event.target.files)'>
                      </div>

                      <button class="btn btn-sm btn-white mb-2 mb-sm-0" (click)="removeFile()">Supprimer</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Form Group -->

            <div class="form-group col-lg-8 mx-auto col-sm-10 col-md">
                <label class="input-label" for="exampleFormControlInput1">Nom</label>
                <input type="text" id="exampleFormControlInput1"
                [class.is-invalid]="name.touched && name.getError('required')" class="form-control" placeholder="Bio" formControlName="name">
                <small *ngIf="name.touched && name.getError('required')" class="text-danger">Ce champ est obligatoire.</small>
            </div>

            <div class="form-group col-lg-8 mx-auto col-sm-10 col-md">
                <label class="input-label" for="exampleFormControlInput2">Prénom</label>
                <input type="text" id="exampleFormControlInput2" 
                [class.is-invalid]="lastName.touched && lastName.getError('required')" class="form-control" placeholder="John" formControlName="lastName">
                <small *ngIf="lastName.touched && lastName.getError('required')" class="text-danger">Ce champ est obligatoire.</small>
            </div>



            <!-- Form Group -->
            <div class="row col-lg-8 mx-auto col-sm-12 col-xl-8 p-0 form-group">
                <label class="col-sm-3 col-form-label input-label">Sexe</label>

                <div class="col-sm-9">
                    <div class="input-group input-group-md-down-break">
                    <!-- Custom Radio -->
                    <div class="form-control">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" formControlName="gender"
                            value="masculin" id="genderTypeRadio1">
                            <label class="custom-control-label" for="genderTypeRadio1">Masculin</label>
                        </div>
                    </div>
                    <!-- End Custom Radio -->

                    <!-- Custom Radio -->
                    <div class="form-control">
                        <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" formControlName="gender"
                        value="feminin" id="genderTypeRadio2">
                        <label class="custom-control-label" for="genderTypeRadio2">Féminin</label>
                        </div>
                    </div>
                    <!-- End Custom Radio -->
                    </div>
                </div>
            </div>
            <!-- End Form Group -->
                
            <div class="form-group col-lg-8 mx-auto col-sm-10 col-md">
                <label class="input-label" for="exampleFormControlInput1">Date de naissance</label>
                <input type="date" id="exampleFormControlInput1" class="form-control"  formControlName="birthDay">
            </div>

            <div class="form-group col-lg-8 mx-auto col-sm-10 col-md d-flex flex-column">
                <label class="input-label" for="exampleFormControlInput1">Numéro</label>
                <ngx-intl-tel-input
                    [cssClass]=" phone.touched && (phone.getError('required') || phone.getError('validatePhoneNumber')) ? 'form-control is-invalid' : 'form-control'"
                    [enableAutoCountrySelect]="false"
                    [enablePlaceholder]="true"
                    [searchCountryFlag]="true"
                    [selectFirstCountry]="false"
                    [phoneValidation]="true"
                    [separateDialCode]="true"
                    [selectedCountryISO]="'ci'"
                    name="phone"
                    formControlName="phone"
                ></ngx-intl-tel-input>
                <small *ngIf="phone.touched && phone.getError('required')"class="text-danger">Ce champ est obligatoire.</small>
                <small *ngIf="phone.touched && phone.getError('validatePhoneNumber')" class="text-danger">Le numéro n'est pas correct.</small>
            </div>

            <div class="form-group col-lg-8 mx-auto col-sm-10 col-md">
                <label class="input-label" for="email">Email</label>
                <input type="text" id="email" [class.is-invalid]="email.touched && email.getError('required')" class="form-control" placeholder="example@example.com" formControlName="email">
                <small class="text-danger" *ngIf="email.touched && email.getError('required')">
                    Ce champ est obligatoire
                </small>
            </div>

            <div class="form-group col-lg-8 mx-auto col-sm-10 col-md">
                <label class="input-label" for="quartier">Quartier <span class="text-danger">*</span></label>
                <input type="text" id="quartier" class="form-control"
                #place
                [class.is-invalid]="quartier.touched && quartier.getError('required')">
                <small class="text-danger" *ngIf="quartier.touched && quartier.getError('required')">
                    Ce champ est obligatoire
                </small>
            </div>

        </form>
    </div>
    <!-- End body content -->

    <div class="card-footer d-flex justify-content-between">
        <button class="btn btn-soft-primary" (click)="OnPrevious()">Précédent</button>
        <button class="btn btn-primary" (click)='OnNext()' [disabled]='form.invalid' >Suivant</button>
    </div>
</div>