<div class="card">
    <div class="card-header">
        <h5>Départements</h5>
    </div>

    <!-- Body content -->
    <div class="card-body card-body-minHeight">
        
        <div *ngIf="datas$ | async as datas">
           <form [formGroup]="form">
                 <!-- Form Group -->
                <div class="row col-lg-8 mx-auto col-sm-12 col-xl-8 p-0 form-group">
                    <label class="col-sm-3 col-form-label input-label">Es tu dans un departement à BLOOM? <span class="text-danger">*</span></label>

                    <div class="col-sm-9">
                        <div class="input-group input-group-md-down-break">

                        <!-- Custom Radio -->
                        <div class="form-control">
                            <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" formControlName="hasDepartement"
                            value="non" id="accord2">
                            <label class="custom-control-label" for="accord2">Non</label>
                            </div>
                        </div>
                        <!-- End Custom Radio -->

                        <!-- Custom Radio -->
                        <div class="form-control">
                            <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" formControlName="hasDepartement"
                            value="oui" id="accord1">
                            <label class="custom-control-label" for="accord1">Oui</label> 
                            </div>
                        </div>
                        <!-- End Custom Radio -->

                        </div>
                    </div>
                </div>
                <!-- End Form Group -->

                <div class="form-group col-lg-8 mx-auto col-sm-10 col-md">
                    <label for="departement" class="input-label">{{hasDepartement.value === 'oui' ? 'Selectionner votre département' : 'Choisissez un département'}}</label>
                    <select class="form-control" formControlName="classRoomSelected">
                        <option  *ngFor="let data of classrooms; let i = index" [value]="data.id">{{data.name}}</option>
                    </select>
                </div>

                <div class="form-group col-lg-8 mx-auto col-sm-10 col-md" *ngIf="hasDepartement.value === 'oui'">
                    <label class="input-label" for="intergration">Depuis quand as tu intégré le département ? <span class="text-danger">*</span></label>
                    <input type="date" id="intergration" class="form-control"  formControlName="dateIntegration">
                </div>


                 <!-- Form Group -->
                 <div class="row col-lg-8 mx-auto col-sm-12 col-xl-8 p-0 form-group">
                    <label class="col-sm-3 col-form-label input-label">Es tu dans un GEM ? <span class="text-danger">*</span></label>

                    <div class="col-sm-9">
                        <div class="input-group input-group-md-down-break">

                        <!-- Custom Radio -->
                        <div class="form-control">
                            <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" formControlName="inGem"
                            value="non" id="inGem">
                            <label class="custom-control-label" for="inGem">Non</label>
                            </div>
                        </div>
                        <!-- End Custom Radio -->

                        <!-- Custom Radio -->
                        <div class="form-control">
                            <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" formControlName="inGem"
                            value="oui" id="inGem2">
                            <label class="custom-control-label" for="inGem2">Oui</label> 
                            </div>
                        </div>
                        <!-- End Custom Radio -->

                        </div>
                    </div>
                </div>
                <!-- End Form Group -->
           </form>
        </div>
    </div>
    <!-- End body content -->

    <div class="card-footer d-flex justify-content-end">
        <button class="btn btn-primary" (click)="OnNext()">Terminer</button>
    </div>
</div>