<div *ngIf="data$ | async as data; else load">
   <!-- Card -->
 <div class="card mb-3 mb-lg-5" *ngIf="isBillingExpired; else elseExpired">
  <!-- Header -->
  <div class="card-header">
    <h5 class="card-header-title">Overview</h5>

  </div>
  <!-- End Header -->

  <!-- Body -->
  <div class="card-body" *ngIf="data.billing as billing">
    <div class="row">
      <div class="col-md-7 mb-4 mb-md-0">
        <div class="mb-4">
          <small class="text-cap">Your plan (billed mounthly):</small>
          <h5>{{billing.createdAt.toDate() | date:'dd/MM/yyyy'}} - <span class="text-primary">{{billing.expiredAt.toDate() | date:'dd/MM/yyyy'}}</span></h5>
        </div>

        <div>
          <small class="text-cap">Total per mounth</small>
        <h3 class="text-primary">{{data.formula.price}} €</h3>
        </div>
      </div>

      <div class="col-md-5 text-md-right">
        <a class="btn btn-sm btn-white mr-1 mb-0 mb-md-2" [routerLink]="['']" >Cancel subscription</a>
        <a class="btn btn-sm btn-primary transition-3d-hover mb-0 mb-md-2" [routerLink]="['']" >Update plan</a>
      </div>
    </div>
  </div>
  <!-- End Body -->

  <hr class="my-3">

  <!-- Body -->
  <div class="card-body" *ngIf="data.formula as formula">
    
    <!-- SMS PERCENT -->
    <div>
      <div class="row align-items-center flex-grow-1 mb-2">
        <div class="col">
          <h4 class="card-header-title">SMS usage</h4>
        </div>
  
        <div class="col-auto">
          <strong class="text-dark">{{data.billing.textCount}} SMS</strong> used of {{formula.textCount}} SMS
        </div>
      </div>
  
      <!-- Progress -->
      <div class="progress rounded-pill mb-3">
        <div class="progress-bar" role="progressbar" [style.width]='getPercentOfValue(data.billing.textCount, formula.textCount,true)' aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <!-- End Progress -->
      
  
      <!-- Legend Indicators -->
      <div class="list-inline">
        <div class="list-inline-item">
          <span class="legend-indicator bg-primary"></span>Percent of SMS sent
        </div>
        <div class="list-inline-item">
          <span class="legend-indicator"></span>SMS purchase
        </div>
      </div>
      <!-- End Legend Indicators -->
    </div>
    <!-- END PERCENT SMS -->

    <!-- PERCENT MEDIA -->
    <div class="mt-5">
      <div class="row align-items-center flex-grow-1 mb-2">
        <div class="col">
          <h4 class="card-header-title">Medias usage</h4>
        </div>
  
        <div class="col-auto">
          <strong class="text-dark">{{data.billing.mediaCount}} medias</strong> used of {{formula.mediaCount}} medias
        </div>
      </div>
  
      <!-- Progress -->
      <div class="progress rounded-pill mb-3">
        <div class="progress-bar bg-info" role="progressbar" [style.width]='getPercentOfValue(data.billing.mediaCount, formula.mediaCount,true)' aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <!-- End Progress -->
      
  
      <!-- Legend Indicators -->
      <div class="list-inline">
        <div class="list-inline-item">
          <span class="legend-indicator bg-info"></span>Percent of SMS sent
        </div>
        <div class="list-inline-item">
          <span class="legend-indicator"></span>SMS purchase
        </div>
      </div>
      <!-- End Legend Indicators -->
    </div>
    <!-- END PERCENT MEDIAS -->

  </div>
  <!-- End Body -->
</div>
<!-- End Card -->

<ng-template #elseExpired>
     <!-- Card -->
 <div class="card mb-3 mb-lg-5" >
  <!-- Header -->
  <div class="card-header">
    <h5 class="card-header-title">Overview</h5>

  </div>
  <!-- End Header -->

  <!-- Body -->
  <div class="card-body">
    <div class="row">
      <div class="col-md-7 mb-4 mb-md-0">
        <div class="mb-4">
          <small class="text-cap">Your plan (billed mounthly):</small>
          <h5 class="text-danger">Expired</h5>
        </div>

        <div>
        </div>
      </div>

      <div class="col-md-5 text-md-right">
        <a class="btn btn-sm btn-white mr-1 mb-0 mb-md-2" href="#">Cancel subscription</a>
        <a class="btn btn-sm btn-primary transition-3d-hover mb-0 mb-md-2" href="../pages/pricing.html">Update plan</a>
      </div>
    </div>
  </div>
  <!-- End Body -->

</div>
<!-- End Card -->
</ng-template>


 




  <!-- Add New Card Modal -->
  <div class="modal fade" id="addNewCardModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="addNewCardModalTitle">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <!-- Header -->
        <div class="modal-header">
          <h4 id="addNewCardModalTitle" class="modal-title">Add card</h4>
          <div class="modal-close">
            <button type="button" class="btn btn-icon btn-xs btn-ghost-secondary" data-dismiss="modal" aria-label="Close">
              <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
              </svg>
            </button>
          </div>
        </div>
        <!-- End Header -->

        <!-- Body -->
        <div class="modal-body">
          <form [formGroup]="">
            <!-- Button Group -->
            <div class="btn-group btn-group-toggle btn-group-segment d-flex form-group" data-toggle="buttons">
              <label class="btn btn-sm flex-fill focus active">
                <input type="radio" name="options" id="option1" checked> Credit or Debit card
              </label>
              <label class="btn btn-sm flex-fill disabled">
                <input type="radio" name="options" id="option2"> PayPal <span class="badge badge-soft-primary">Coming soon</span>
              </label>
            </div>
            <!-- End Button Group -->

            <!-- Form Group -->
            <div class="form-group">
              <label for="cardNameLabel" class="input-label">Name on card</label>
              <input type="text" class="form-control" id="cardNameLabel" placeholder="Payoneer" aria-label="Payoneer">
            </div>
            <!-- End Form Group -->

            <!-- Form Group -->
            <div class="form-group">
              <label for="cardNumberLabel" class="input-label">Card number</label>
              <input type="text" class="js-masked-input form-control" name="cardNumber" id="cardNumberLabel" placeholder="xxxx xxxx xxxx xxxx" aria-label="xxxx xxxx xxxx xxxx"
                     data-hs-mask-options='{
                      "template": "0000 0000 0000 0000"
                    }'>
            </div>
            <!-- End Form Group -->

            <div class="row">
              <div class="col-sm-6">
                <!-- Form Group -->
                <div class="form-group">
                  <label for="expirationDateLabel" class="input-label">Expiration date</label>
                  <input type="text" class="js-masked-input form-control" name="expirationDate" id="expirationDateLabel" placeholder="xx/xxxx" aria-label="xx/xxxx"
                         data-hs-mask-options='{
                          "template": "00/0000"
                        }'>
                </div>
                <!-- End Form Group -->
              </div>

              <div class="col-sm-6">
                <!-- Form Group -->
                <div class="form-group">
                  <label for="securityCodeLabel" class="input-label">CVV Code <i class="far fa-question-circle text-body ml-1" data-toggle="tooltip" data-placement="top" title="A 3 - digit number, typically printed on the back of a card."></i></label>
                  <input type="text" class="js-masked-input form-control" name="securityCode" id="securityCodeLabel" placeholder="xxx" aria-label="xxx"
                         data-hs-mask-options='{
                          "template": "000"
                        }'>
                </div>
                <!-- End Form Group -->
              </div>
            </div>
            <!-- End Row -->

            <!-- Custom Checkbox -->
            <div class="custom-control custom-checkbox form-group">
              <input type="checkbox" class="custom-control-input" id="makePrimaryCheckbox1">
              <label class="custom-control-label" for="makePrimaryCheckbox1">Make this primary card</label>
            </div>
            <!-- End Custom Checkbox -->

            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-white mr-2" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
        <!-- End Body -->
      </div>
    </div>
  </div>
  <!-- End Add New Card Modal -->


    <!-- Edit Card Modal -->
    <div class="modal fade" id="editCardModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="editCardModalTitle">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <!-- Header -->
          <div class="modal-header">
            <h4 id="editCardModalTitle" class="modal-title">Edit card</h4>
            <div class="modal-close">
              <button type="button" class="btn btn-icon btn-xs btn-ghost-secondary" data-dismiss="modal" aria-label="Close">
                <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
                </svg>
              </button>
            </div>
          </div>
          <!-- End Header -->
  
          <!-- Body -->
          <div class="modal-body">
            <form [formGroup]="">
              <!-- Form Group -->
              <div class="form-group">
                <label for="editCardNameLabel" class="input-label">Name on card</label>
                <input type="text" class="form-control" id="editCardNameLabel" placeholder="Maria Williams" aria-label="Maria Williams" value="Maria Williams">
              </div>
              <!-- End Form Group -->
  
              <!-- Form Group -->
              <div class="form-group">
                <label for="editCardNumberLabel" class="input-label">Card number</label>
                <input type="text" class="js-masked-input form-control" name="cardNumber" id="editCardNumberLabel" placeholder="xxxx xxxx xxxx xxxx" aria-label="xxxx xxxx xxxx xxxx" value="5200 7084 8243 4242"
                       data-hs-mask-options='{
                        "template": "0000 0000 0000 0000"
                      }'>
              </div>
              <!-- End Form Group -->
  
              <div class="row">
                <div class="col-sm-6">
                  <!-- Form Group -->
                  <div class="form-group">
                    <label for="editCardEexpirationDateLabel" class="input-label">Expiration date</label>
                    <input type="text" class="js-masked-input form-control" name="expirationDate" id="editCardEexpirationDateLabel" placeholder="xx/xxxx" aria-label="xx/xxxx" value="12/2022"
                           data-hs-mask-options='{
                            "template": "00/0000"
                          }'>
                  </div>
                  <!-- End Form Group -->
                </div>
  
                <div class="col-sm-6">
                  <!-- Form Group -->
                  <div class="form-group">
                    <label for="editCardSecurityCodeLabel" class="input-label">CVV Code <i class="far fa-question-circle text-body ml-1" data-toggle="tooltip" data-placement="top" title="A 3 - digit number, typically printed on the back of a card."></i></label>
                    <input type="password" class="js-masked-input form-control" name="securityCode" id="editCardSecurityCodeLabel" placeholder="xxx" aria-label="xxx" value="789"
                           data-hs-mask-options='{
                            "template": "000"
                          }'>
                  </div>
                  <!-- End Form Group -->
                </div>
              </div>
              <!-- End Row -->
  
              <!-- Custom Checkbox -->
              <div class="custom-control custom-checkbox form-group">
                <input type="checkbox" class="custom-control-input" id="editCardMakePrimaryCheckbox2" checked>
                <label class="custom-control-label" for="editCardMakePrimaryCheckbox2">Make this primary card</label>
              </div>
              <!-- End Custom Checkbox -->
  
              <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-white mr-2" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
          <!-- End Body -->
        </div>
      </div>
    </div>
    <!-- End Edit Card Modal -->
</div>


<ng-template #load>
   <!-- Card -->
 <div class="card mb-3 mb-lg-5">
  <!-- Header -->
  <div class="card-header">
    <h5 class="card-header-title">Overview</h5>

  </div>
  <!-- End Header -->

  <!-- Body -->
  <div class="card-body" >
    <div class="row">
      <div class="col-md-7 mb-4 mb-md-0">
        <div class="mb-4">
          <small class="text-cap">Your plan (billed mounthly):</small>
          <h5></h5>
        </div>

        <div>
          <small class="text-cap">Total per mounth</small>
        <h3 class="text-primary"></h3>
        </div>
      </div>

      <div class="col-md-5 text-md-right">
        <a class="btn btn-sm btn-white mr-1 mb-0 mb-md-2" href="#">Cancel subscription</a>
        <a class="btn btn-sm btn-primary transition-3d-hover mb-0 mb-md-2" href="../pages/pricing.html">Update plan</a>
      </div>
    </div>
  </div>
  <!-- End Body -->

  <hr class="my-3">

  <!-- Body -->
  <div class="card-body">
    
    <!-- SMS PERCENT -->
    <div>
      <div class="row align-items-center flex-grow-1 mb-2">
        <div class="col">
          <h4 class="card-header-title"></h4>
        </div>
  
        <div class="col-auto">
          <strong class="text-dark"></strong>
        </div>
      </div>
    </div>
    <!-- END PERCENT MEDIAS -->

  </div>
  <!-- End Body -->
</div>
<!-- End Card -->
</ng-template>