<!-- Card -->
<div class="card">
    <div class="card-header">
      <h5 class="card-header-title">Classrooms</h5>
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addClassroom">
        <i class="fas fa-plus mr-1"></i>
        Create Class 
      </button>
    </div>

    <!-- Content card body -->
    <div class="card-body card-body-minHeight" >
      <div *ngIf="datas$ | async as datas">
        <div class="grid-card">
          <classroom *ngFor="let data of datas" [classroom]="data" ></classroom>
        </div>
        <div *ngIf="datas.length === 0">
          <a class="card card-dashed" >
            <div class="card-body card-body-centered">
              <i class="fas fa-graduation-cap fa-lg mb-2"></i>
              Add a new classroom
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- End card body -->

  </div>
<!-- End Card -->


<add-classroom ></add-classroom>