<div id="content" role="main" class="bg-navy h-100">
    <div *ngIf="schoolConnected$ | async as school">
        <!-- Breadcrumb Section -->
        <div class="bg-navy " style="background-image: url(../../assets/svg/components/abstract-shapes-20.svg);">
            <div class="container space-1 space-top-lg-2 space-bottom-lg-3">
            <div class="row align-items-center">
                <div class="col text-center">
                    <div class="d-flex justify-content-center">
                        <div class="avatar avatar-xxl avatar-circle mb-3">
                            <img class="avatar-img" [src]="school.profileURL.downloadURL" alt="Image Description">
                        </div>
                        <!-- <h1 class="h2 text-white" >{{school.schoolName}}</h1> -->
                    </div>

                    <!-- Breadcrumb -->
                    <ol class="breadcrumb breadcrumb-light breadcrumb-no-gutter mb-0 justify-content-center">
                        <li class="breadcrumb-item">Formulaire d'identification </li>
                    </ol>
                    <!-- End Breadcrumb -->
                </div>

            </div>
            </div>
        </div>
        <!-- End Breadcrumb Section -->

         <!-- Content Section -->
        <div class="container space-1 space-top-lg-0 mt-lg-n10 vh-100">
            <div class="col-lg-12" [ngSwitch]='step'>
                <bloom-sec-departement *ngSwitchCase='3' [step]='3' [member]="member" [schoolId]='school.schoolId'  (selected)='finish($event)' (next)='next($event)'></bloom-sec-departement>
                <join-user-infos-bloom *ngSwitchCase='1' [step]='1' [member]="member" (infos)='userInfo($event)' (next)='next($event)' (previous)='previous($event)'></join-user-infos-bloom>
                <bloom-sec-parent *ngSwitchCase='2' [step]='2' [member]='member' (infos)='userInfo($event)' (next)='next($event)' (previous)='previous($event)'></bloom-sec-parent>
                <ng-container *ngSwitchCase='-1'>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="bg-white rounded-lg overflow-auto">
                            <div class="bg-success d-flex justify-content-center align-items-center px-11 py-4">
                                <i class="far fa-check-circle fa-6x text-white"></i> 
                            </div>
                            <div class="p-4 text-center">
                                <h2>Félicitation</h2>
                                <p>Vous êtes bien enregistré.</p>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <!-- <join-number-add *ngSwitchCase='3' [step]='3' (finish)='finish()' (next)='next($event)' (previous)='previous($event)'></join-number-add> -->
            </div>
        </div>
        <!-- End Content Section -->
    </div>  
</div>