<!-- member infos -->
<div class="border rounded-lg card p-3">
    <div class="media">
      <span class="avatar avatar-sm avatar-circle avatar-soft-secondary  mr-3 d-flex align-items-center justify-content-center">
        <img id="avatarImg" class="avatar-img w-100" [src]="!!member.profileURL ? (member.profileURL.downloadURL ) : 'assets/images/blank-profile.png'" alt="Image Description">
      </span>
        <!-- <span class="avatar avatar-sm avatar-circle avatar-soft-secondary  mr-3 d-flex align-items-center justify-content-center">
            <small class="font-weight-bold">{{member.lastName.charAt(0).toUpperCase()}}{{member.name.charAt(0).toUpperCase()}}</small>
        </span> -->

        <div class="d-flex flex-grow-1">
            <div class="media-body">
                <div class="d-inline-block text-dark" >
                  <h6 class="text-hover-primary mb-0">{{member.lastName}} {{member.name}}</h6>
                </div>
                <small class="d-block">{{member.phone.e164Number}}</small>
                <div class="d-flex justify-content-end mt-1">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-ghost-primary btn-xs" id={{member.id}} ngbDropdownToggle> Actions</button>
                        <div ngbDropdownMenu>
                          <button ngbDropdownItem  data-toggle="modal" data-target="#showgroup" (click)="showGroups(member.id)">group's</button>
                          <button ngbDropdownItem (click)="addMembber(member.id)">Add</button>
                          <button ngbDropdownItem (click)="deleteMember(member.id)">Delete</button>
                        </div>
                    </div>
                </div>
              </div>          
        </div>
      </div>
</div>
<!-- End member infos -->