<div class="card">
    <div class="card-header">
        <h5>Informations personnelles</h5>
    </div>

    <!-- Body content -->
    <div class="card-body">
        <form [formGroup]="form">

            <div class="form-group col-lg-8 mx-auto col-sm-10 col-md">
                <label class="input-label" for="exampleFormControlInput2">Prénom</label>
                <input type="text" id="exampleFormControlInput2" class="form-control" placeholder="John"
                [class.is-invalid]="lastName.touched && lastName.getError('required')" formControlName="lastName">
                <small *ngIf="lastName.touched && lastName.getError('required')"class="text-danger">Ce champ est obligatoire.</small>
            </div>

            <div class="form-group col-lg-8 mx-auto col-sm-10 col-md">
                <label class="input-label" for="exampleFormControlInput1">Nom</label>
                <input type="text" id="exampleFormControlInput1" class="form-control" placeholder="Bio"
                [class.is-invalid]="name.touched && name.getError('required')" formControlName="name">
                <small *ngIf="name.touched && name.getError('required')"class="text-danger">Ce champ est obligatoire.</small>
            </div>

             <!-- Form Group -->
             <div class="row col-lg-8 mx-auto col-sm-12 col-xl-8 p-0 form-group">
                <label class="col-sm-3 col-form-label input-label">Sexe</label>

                <div class="col-sm-9">
                    <div class="input-group input-group-md-down-break">
                    <!-- Custom Radio -->
                    <div class="form-control">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" formControlName="gender"
                            value="masculin" id="genderTypeRadio1">
                            <label class="custom-control-label" for="genderTypeRadio1">Masculin</label>
                        </div>
                    </div>
                    <!-- End Custom Radio -->

                    <!-- Custom Radio -->
                    <div class="form-control">
                        <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" formControlName="gender"
                        value="feminin" id="genderTypeRadio2">
                        <label class="custom-control-label" for="genderTypeRadio2">Féminin</label>
                        </div>
                    </div>
                    <!-- End Custom Radio -->
                    </div>
                </div>
            </div>
            <!-- End Form Group -->

            <div class="form-group col-lg-8 mx-auto col-sm-10 col-md">
                <label class="input-label" for="exampleFormControlInput1">Date de naissance</label>
                <input type="date" id="exampleFormControlInput1" class="form-control" placeholder="John" formControlName="birthDay">
            </div>

            <!-- <div class="form-group col-lg-8 mx-auto col-sm-10 col-md">
                <label class="input-label" for="exampleFormControlInput1">Number</label>
                <input type="text" id="exampleFormControlInput1" class="form-control" placeholder="77223344" formControlName="number">
            </div> -->

            <div class="form-group col-lg-8 mx-auto col-sm-10 col-md d-flex flex-column">
                <label class="input-label" for="exampleFormControlInput1">Numéro</label>
                <ngx-intl-tel-input
                    [cssClass]=" phone.touched && (phone.getError('required') || phone.getError('validatePhoneNumber')) ? 'form-control is-invalid' : 'form-control'"
                    [enableAutoCountrySelect]="false"
                    [enablePlaceholder]="true"
                    [searchCountryFlag]="true"
                    [selectFirstCountry]="false"
                    [phoneValidation]="true"
                    [separateDialCode]="true"
                    [selectedCountryISO]="'ci'"
                    name="phone"
                    formControlName="phone"
                ></ngx-intl-tel-input>
                <small *ngIf="phone.touched && phone.getError('required')"class="text-danger">Ce champ est obligatoire.</small>
                <small *ngIf="phone.touched && phone.getError('validatePhoneNumber')" class="text-danger">Le numéro n'est pas correct.</small>
            </div>
        </form>
    </div>
    <!-- End body content -->

    <div class="card-footer d-flex justify-content-between">
        <button class="btn btn-soft-primary" (click)="OnPrevious()">Précedent</button>
        <button class="btn btn-primary" (click)='OnNext()' [disabled]='form.invalid' >Terminer</button>
    </div>
</div>