<div class="navbar-expand-lg navbar-expand-lg-collapse-block navbar-light">
    <div id="sidebarNav" class="collapse navbar-collapse navbar-vertical">
      <!-- Card -->
      <div class="card mb-5">
        <div class="card-body">
          <!-- Avatar -->
          <div class="d-none d-lg-block text-center mb-5" *ngIf="schoolConnected$ |async as school">
            <div class="avatar avatar-xxl avatar-circle mb-3">
              <img class="avatar-img" [src]="school.profileURL.downloadURL" alt="Image Description">
              <img class="avatar-status avatar-lg-status" src="../../assets/svg/illustrations/top-vendor.svg" alt="Image Description" data-toggle="tooltip" data-placement="top" title="Verified user">
            </div>

            <h4 class="card-title">{{school.schoolName}}</h4>
            <p class="card-text font-size-1">{{school.schoolEmail}}</p>
          </div>
          <!-- End Avatar -->

          <h6 class="text-cap small">Menu</h6>

          <!-- List -->
          <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2 mb-4">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active" >
                <i class="fas fa-chart-line nav-icon"></i>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/classrooms']" routerLinkActive="active" >
                <i class="fas fa-graduation-cap nav-icon"></i>
                Groupes
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/messages']" routerLinkActive="active" >
                <i class="fas fa-paper-plane nav-icon"></i>
                Messages
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/members']" routerLinkActive="active" >
                <i class="fas fa-users nav-icon"></i>
                Membres
                <span class="badge badge-soft-navy badge-pill nav-link-badge">+2 new users</span>
              </a>
            </li>
          </ul>
          <!-- End List -->


          <h6 class="text-cap small">Account</h6>

          <!-- List -->
          <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2 mb-4">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/personal']" routerLinkActive="active" >
                <i class="fas fa-id-card nav-icon"></i>
                Personal info
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/security']" routerLinkActive="active" >
                <i class="fas fa-shield-alt nav-icon"></i>
                Login &amp; security
              </a>
            </li>
          </ul>
          <!-- End List -->
          
          <div class="d-lg-none">
            <div class="dropdown-divider"></div>

            <!-- List -->
            <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2">
              <li class="nav-item">
                <a class="nav-link text-primary" href="#">
                  <i class="fas fa-sign-out-alt nav-icon"></i>
                  Log out
                </a>
              </li>
            </ul>
            <!-- End List -->
          </div>
        </div>
      </div>
      <!-- End Card -->
    </div>
  </div>