<div id="content" role="main" class="bg-light">
    <div *ngIf="schoolConnected$ | async as school">
        <!-- Breadcrumb Section -->
        <div class="bg-navy" style="background-image: url(../../assets/svg/components/abstract-shapes-20.svg);">
            <div class="container space-1 space-top-lg-2 space-bottom-lg-3">
            <div class="row align-items-center">
                <div class="col">
                <div class="">
                    <h1 class="h2 text-white" >{{school.schoolName}}</h1>
                </div>

                <!-- Breadcrumb -->
                <ol class="breadcrumb breadcrumb-light breadcrumb-no-gutter mb-0">
                    <li class="breadcrumb-item">Formulaire d'identification </li>
                </ol>
                <!-- End Breadcrumb -->
                </div>

            </div>
            </div>
        </div>
        <!-- End Breadcrumb Section -->

         <!-- Content Section -->
        <div class="container space-1 space-top-lg-0 mt-lg-n10">
            <div class="col-lg-12" [ngSwitch]='step'>
                <join-classroom-choose *ngSwitchCase='1' [step]='1' [member]="member" [schoolId]='school.schoolId' (selected)='classRoom($event)' (next)='next($event)'></join-classroom-choose>
                <join-user-infos *ngSwitchCase='2' [step]='2' (infos)='userInfo($event)' (next)='next($event)' (previous)='previous($event)'></join-user-infos>
                <ng-container *ngSwitchCase='-1'>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="bg-white rounded-lg overflow-auto">
                            <div class="bg-success d-flex justify-content-center align-items-center px-11 py-4">
                                <i class="far fa-check-circle fa-6x text-white"></i> 
                            </div>
                            <div class="p-4 text-center">
                                <h2>Félicitation</h2>
                                <p>Vous êtes bien enregistré.</p>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <!-- <join-number-add *ngSwitchCase='3' [step]='3' (finish)='finish()' (next)='next($event)' (previous)='previous($event)'></join-number-add> -->
            </div>
        </div>
        <!-- End Content Section -->
    </div>  
</div>