<div>
    <!-- Card -->
<div class="card mb-3 mb-lg-5">
    <div class="card-header">
        <a class="btn btn-sm btn-link text-body" (click)="goBack()" >
            <i class="fas fa-angle-left mr-1"></i> Members
        </a>
        <h5 class="card-title">Group's</h5>
    </div>

    <!-- Body -->
    <div class="card-body p-0 card-body-minHeight">
        <!-- Table -->
        <div class="table-responsive" *ngIf="member$ | async as member">
            <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle">
            <thead class="thead-light">
                <tr>
                <th>Name</th>
                <th>JoinedAt</th>
                <th style="width: 5px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of member.classrooms">
                    <td>{{item.name}}</td>
                    <td>{{item.joinedAt | date:'dd/MM/yyyy'}}</td>
                    <td>
                        <button class="btn btn-xs btn-soft-danger">
                            <i class="fa fa-minus pr-1"></i> Remove
                        </button>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>

    </div>
    <!-- End Body -->
</div>
<!-- End Card --> 
</div>