<div class="card">
    <div class="card-header">
        <h5>Selectionne ton groupe</h5>
    </div>

    <!-- Body content -->
    <div class="card-body card-body-minHeight">
        <div *ngIf="datas$ | async as datas">
            <div class="grid-card">
                <div class="grid-content w-100" *ngFor="let data of classrooms; let i = index">
                          <!-- Checkbox -->
                        <div class="custom-control custom-radio custom-control-inline checkbox-outline checkbox-icon w-100">
                            <input type="radio" id={{data.id}} name="pricingRadio1" 
                            class="custom-control-input checkbox-outline-input checkbox-icon-input" 
                            [value]='data.id' (change)='onChecked($event.target.value)' [checked]="i == indexSelected">
                            <label class="checkbox-outline-label checkbox-icon-label w-100 rounded p-4" for={{data.id}}>
                                <span class="row">
                                <span class="col-sm-9 order-sm-1">
                                    <span class="d-block h3 mb-1">{{data.name}}</span>
                                    <span class="d-block">{{data.description ? data.description : 'Integre ce groupe pour etre notifier'}}</span>
                                </span>
                                </span>
                            </label>
                        </div>
                        <!-- End Checkbox -->
                </div>
            </div>
        </div>
    </div>
    <!-- End body content -->

    <div class="card-footer d-flex justify-content-end">
        <button class="btn btn-primary" (click)="OnNext()">Next</button>
    </div>
</div>