<div class="card">
    <div class="card-header">
        <h5>Informations</h5>
    </div>

    <!-- Body content -->
    <div class="card-body">
        <form [formGroup]="form">
            <!-- Form Group -->
            <!-- <div class="row col-lg-8 mx-auto form-group">
                <label class="col-sm-3 col-form-label input-label">Votre photo</label>

                <div class="col-sm-9">
                  <div class="media flex-column flex-md-row align-items-center">
                    <label class="avatar avatar-xl avatar-circle mr-4" for="avatarUploader">
                      <img id="avatarImg" class="avatar-img w-100" [src]="!!profile.value ? showImage() : url_img" alt="Image Description">
                    </label>

                    <div class="media-body">
                      <div class="btn btn-sm btn-primary file-attachment-btn mb-2 mb-sm-0 mr-2">Prendre une Photo
                        <input type="file" accept="image/png, image/jpeg" class="js-file-attach file-attachment-btn-label" formControlName="profile" (change)='onPickFile($event.target.files)'>
                      </div>

                      <button class="btn btn-sm file-attachment-btn btn-white mb-2 mb-sm-0" (click)="removeFile()">Supprimer</button>
                    </div>
                  </div>
                </div>
              </div> -->
              <!-- End Form Group -->

            <div class="form-group col-lg-8 mx-auto col-sm-10 col-md">
                <label class="input-label" for="nom-label">Nom <span class="text-danger">*</span></label>
                <input type="text" id="nom-label"
                [class.is-invalid]="name.hasError('required')" class="form-control" placeholder="Bio" formControlName="lastName">
                <small *ngIf="name.hasError('required')" class="text-danger">Ce champ est obligatoire.</small>
            </div>

            <div class="form-group col-lg-8 mx-auto col-sm-10 col-md">
                <label class="input-label" for="prenom-label">Prénom <span class="text-danger">*</span></label>
                <input type="text" id="prenom-label" 
                [class.is-invalid]="lastName.hasError('required')" class="form-control" placeholder="John" formControlName="name">
                <small *ngIf="lastName.hasError('required')" class="text-danger">Ce champ est obligatoire.</small>
            </div>



            <!-- Form Group -->
            <div class="row col-lg-8 mx-auto col-sm-12 col-xl-8 p-0 form-group">
                <label class="col-sm-3 col-form-label input-label">Sexe <span class="text-danger">*</span></label>

                <div class="col-sm-9">
                    <div class="input-group input-group-md-down-break">
                    <!-- Custom Radio -->
                    <div class="form-control">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" formControlName="gender"
                            value="masculin" id="genderTypeRadio1">
                            <label class="custom-control-label" for="genderTypeRadio1">Masculin</label>
                        </div>
                    </div>
                    <!-- End Custom Radio -->

                    <!-- Custom Radio -->
                    <div class="form-control">
                        <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" formControlName="gender"
                        value="feminin" id="genderTypeRadio2">
                        <label class="custom-control-label" for="genderTypeRadio2">Féminin</label>
                        </div>
                    </div>
                    <!-- End Custom Radio -->
                    </div>
                </div>
            </div>
            <!-- End Form Group -->
                
            <div class="form-group col-lg-8 mx-auto col-sm-10 col-md">
                <label class="input-label" for="date-label">Date de naissance <span class="text-danger">*</span></label>
                <input type="date" id="date-label" class="form-control"  formControlName="birthDay">
            </div>

            <div class="form-group col-lg-8 mx-auto col-sm-10 col-md d-flex flex-column">
                <label class="input-label" for="numero-label">Numéro <span class="text-danger">*</span></label>
                <ngx-intl-tel-input
                    [inputId]="'numero-label'"
                    [cssClass]="phone.hasError('required') || phone.hasError('validatePhoneNumber') ? 'form-control is-invalid' : 'form-control'"
                    [enableAutoCountrySelect]="false"
                    [enablePlaceholder]="true"
                    [searchCountryFlag]="true"
                    [selectFirstCountry]="false"
                    [phoneValidation]="true"
                    [separateDialCode]="true"
                    [selectedCountryISO]="'ci'"
                    name="phone"
                    formControlName="phone"
                ></ngx-intl-tel-input>
                <small *ngIf="phone.hasError('required')"class="text-danger">Ce champ est obligatoire.</small>
                <small *ngIf="phone.hasError('validatePhoneNumber')" class="text-danger">Le numéro n'est pas correct.</small>
            </div>

            <div class="form-group col-lg-8 mx-auto col-sm-10 col-md">
                <label class="input-label" for="email">Email <span class="text-danger">*</span></label>
                <input type="email" id="email" [class.is-invalid]="email.getError('required')" class="form-control" 
                placeholder="example@example.com" formControlName="email">
                <small class="text-danger" *ngIf="email.hasError('required')">
                    Ce champ est obligatoire
                </small>
                <small class="text-danger" *ngIf="email.hasError('email')">
                    Ce mail n'est pas correcte
                </small>
            </div>

            <!-- <div class="form-group col-lg-8 mx-auto col-sm-10 col-md">
                <label class="input-label" for="quartier">Quartier <span class="text-danger">*</span></label>
                <input type="text" id="quartier" class="form-control"
                #place
                [class.is-invalid]="quartier.getError('required')">
                <small class="text-danger" *ngIf="quartier.hasError('required')">
                    Ce champ est obligatoire
                </small>
            </div> -->

        </form>
    </div>
    <!-- End body content -->

    <div class="card-footer d-flex justify-content-end">
        <button type="button" class="btn btn-primary" (click)='nextStep()' [disabled]='form.invalid' >Suivant</button>
    </div>
</div>