<div id="content" role="main" class="bg-navy vh-100">
    <div *ngIf="schoolConnected$ | async as school">
        <!-- Breadcrumb Section -->
        <div class="bg-navy " style="background-image: url(../../assets/svg/components/abstract-shapes-20.svg);">
            <div class="container space-1 space-top-lg-2 space-bottom-lg-3">
            <div class="row align-items-center">
                <div class="col text-center">
                    <div class="d-flex justify-content-center">
                        <div class="avatar avatar-xxl avatar-circle mb-3">
                            <img class="avatar-img" [src]="school.profileURL.downloadURL" alt="Image Description">
                        </div>
                        <!-- <h1 class="h2 text-white" >{{school.schoolName}}</h1> -->
                    </div>

                    <!-- Breadcrumb -->
                    <ol class="breadcrumb breadcrumb-light breadcrumb-no-gutter mb-0 justify-content-center">
                        <li class="breadcrumb-item">Formulaire d'identification </li>
                    </ol>
                    <!-- End Breadcrumb -->
                </div>

            </div>
            </div>
        </div>
        <!-- End Breadcrumb Section -->

         <!-- Content Section -->
        <div class="container space-1 space-top-lg-0 mt-lg-n10">
            <div class="col-lg-12">
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- End Content Section -->
    </div>  
</div>