<!-- Card -->
<div class="card">
    <div class="card-header">
        <a class="btn btn-sm btn-link text-body" [routerLink]="['/messages']" >
          <i class="fas fa-angle-left mr-1"></i> Messages
        </a>
    </div>
    <form [formGroup]="messageForm">
        <div>
          <div class="card-body card-body-minHeight">
                
          <div class="mx-3 mb-4">
              <ng-select
                  [items]="classrooms"
                  bindLabel="name"
                  bindValue="id"
                  labelForId="state"
                  [multiple]="true"
                  placeholder="Selectionner les groupes"
                  clearAllText="Clear"
                  formControlName="destinataires">
              </ng-select>
          </div>

          <div class="d-flex justify-content-start mx-3 mb-2">
              <button class="btn btn-white btn-sm" (click)="addName()">
                <i class="fa fa-plus-circle"></i> NAME
              </button>
              <button class="btn btn-white btn-sm ml-1" (click)="addLastName()">
                <i class="fa fa-plus-circle"></i> LASTNAME
              </button>
              <div class="btn btn-sm btn-white file-attachment-btn ml-1"><i class="fa fa-upload"></i>
                <input type="file" class="js-file-attach file-attachment-btn-label" (change)='onPickFile($event.target.files)'>
              </div>
          </div>
    
            <!-- Textarea -->
              <div class="mx-3 d-flex justify-content-between items-center">
                <div style="flex:1">
                  <textarea type="text" formControlName="messageBody" placeholder="Type your message..." 
                    class="form-control" style="min-height: 15rem; width: 100%;">
                  </textarea>
                </div>
                <div class="border-primary" style="flex: 1">
                 <div class="d-flex border rounded-lg mx-3" *ngIf="filePicked[0] as document">
                    <div class="d-flex flex-grow-1">
                      <img src="assets/images/pdf_icon.svg" width="40px" height="50px" alt="">
                      <div class="d-flex flex-column ml-2">
                        <small>{{document.name}}</small>
                        <small>{{document.size}} MB</small>
                      </div>
                    </div>
                    <div class="d-flex align-items-center">
                      <button class="btn btn-icons btn-sm" (click)="removeFile()">
                          <i class="fa fa-trash"></i>
                      </button>
                    </div>
                 </div>
                </div>
              </div>
              <!-- End Textarea --> 
        </div>
        
        <!-- Footer -->
        <div class="card-footer d-flex justify-content-end">
          <span class="mx-2"></span>
          <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]='messageForm.invalid'>
            <i class="fas fa-paper-plane mr-1"></i> Send
          </button>
        </div>
        <!-- End Footer -->
        </div>
    </form>
    
   

  </div>
  <!-- End Card -->