<div *ngIf="schoolConnected$ | async as school">
     
  <!-- Card -->
  <div class="card mb-3 mb-lg-5">
    <div class="card-header">
      <h5 class="card-title">Link</h5>
    </div>

    <!-- Body -->
    <div class="card-body">
      <div class="mb-4">
        <p>The link below stand for users join your app by suscibre. Copy and share it.</p>
      </div>

        <!-- Clipboard -->
        <div class="input-group mb-3">
            <input id="popoverExample1" type="text" class="form-control" [value]="school.joinURL" [disabled]='true'>
            <div class="input-group-append">
            <a class="js-clipboard input-group-text bg-white" href="javascript:;"  placement="bottom" ngbTooltip="Copy to clipboard!">
                <i class="fas fa-copy"></i>
            </a>
            </div>
        </div>
        <!-- End Clipboard -->
    </div>
    <!-- End Body -->
  </div>
  <!-- End Card --> 
   
   <!-- Card -->
   <div class="card mb-3 mb-lg-5">
    <div class="card-header">
      <h5 class="card-title">Profile infos</h5>
    </div>

    <!-- Body -->
    <div class="card-body">
      <form [formGroup]="infoSchoolForm" >
        <!-- Form Group -->
        <div class="row form-group">
          <label class="col-sm-3 col-form-label input-label">Profile photo</label>

          <div class="col-sm-9">
            <div class="media align-items-center">
              <label class="avatar avatar-xl avatar-circle mr-4" for="avatarUploader">
                <img id="avatarImg" class="avatar-img" [src]="school.profileURL.downloadURL" alt="Image Description">
              </label>

              <div class="media-body">
                <div class="btn btn-sm btn-primary file-attachment-btn mb-2 mb-sm-0 mr-2">Upload Photo
                  <input type="file" class="js-file-attach file-attachment-btn-label" id="avatarUploader"
                         data-hs-file-attach-options='{
                            "textTarget": "#avatarImg",
                            "mode": "image",
                            "targetAttr": "src"
                         }'>
                </div>

                <a class="btn btn-sm btn-white mb-2 mb-sm-0" href="javascript:;">Delete</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Form Group -->


        <!-- Form Group -->
        <div class="js-add-field row form-group">
          <label for="phoneLabel" class="col-sm-3 col-form-label input-label">Phone </label>

          <div class="col-sm-9">
            <div class="input-group align-items-center">
              <input type="text" class="js-masked-input form-control" id="phoneLabel" placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xx--xx-xx"
                     data-hs-mask-options='{
                       "template": "+0(000)000-00-00"
                     }'
                     formControlName="phone">

              <div class="input-group-append">
                <!-- Select -->
                <select class="js-custom-select custom-select dropdown-toggle" name="phoneSelect"
                      data-hs-select2-options='{
                        "minimumResultsForSearch": "Infinity",
                        "customClass": "custom-select",
                        "dropdownAutoWidth": true,
                        "width": true
                      }' disabled>
                  <option value="Mobile" selected>Whatsapp</option>
                </select>
                <!-- End Select -->
              </div>
            </div>

          </div>
        </div>
        <!-- End Form Group -->


        <!-- Form Group -->
        <div class="row form-group">
          <label for="nameLabel" class="col-sm-3 col-form-label input-label">Name</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="nameLabel"
            formControlName="name">
          </div>
        </div>
        <!-- End Form Group -->

        <!-- Form Group -->
        <div class="row form-group">
          <label for="emailLabel" class="col-sm-3 col-form-label input-label">Email</label>

          <div class="col-sm-9">
            <input type="email" class="form-control" id="emailLabel" placeholder="clarice@example.com" aria-label="clarice@example.com"
            formControlName="email">
          </div>
        </div>
        <!-- End Form Group -->

        <!-- Add Phone Input Field -->
        <div id="addPhoneFieldTemplate" style="display: none;">
          <div class="input-group input-group-add-field">
            <input type="text" class="js-masked-input form-control" data-name="additionlPhone" placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xxx-xx-xx"
                   data-hs-mask-options='{
                     "template": "+0(000)000-00-00"
                   }'>

            <div class="input-group-append">
              <!-- Select -->
              <select class="js-custom-select-dynamic btn btn-white dropdown-toggle"
                    data-name="additionlPhoneSelect"
                    data-hs-select2-options='{
                      "minimumResultsForSearch": "Infinity",
                      "customClass": "custom-select",
                      "dropdownAutoWidth": true,
                      "width": true
                    }'>
                <option value="Mobile" selected>Mobile</option>
                <option value="Home">Home</option>
                <option value="Work">Work</option>
                <option value="Fax">Fax</option>
                <option value="Direct">Direct</option>
              </select>
              <!-- End Select -->
            </div>

            <a class="js-delete-field input-group-add-field-delete" href="javascript:;">
              <i class="fas fa-times"></i>
            </a>
          </div>
        </div>
        <!-- End Add Phone Input Field -->

      </form>
    </div>
    <!-- End Body -->

    <!-- Footer -->
    <div class="card-footer d-flex justify-content-end">
      <a class="btn btn-white" href="javascript:;">Cancel</a>
      <span class="mx-2"></span>
      <a class="btn btn-primary" href="javascript:;">Save Changes</a>
    </div>
    <!-- End Footer -->
  </div>
  <!-- End Card -->


    <!-- Card -->
    <div class="card mb-3 mb-lg-5">
      <div class="card-header">
        <h5 class="card-title">Messages</h5>
      </div>
  
      <!-- Body -->
      <div class="card-body">
         <form [formGroup]="messageForm" (ngSubmit)="saveMessage()">
           <!-- Form Group -->
          <div class="row form-group">
            <label for="nameLabel" class="col-sm-3 col-form-label input-label">Message de Bienvenue</label>

            <div class="col-sm-9">
              <textarea type="text" class="form-control" id="nameLabel"
              formControlName="welcomeMessage"></textarea>
            </div>
          </div>
          <!-- End Form Group -->

          <!-- Form Group -->
          <div class="row form-group">
            <label for="nameLabel" class="col-sm-3 col-form-label input-label">Message pour l'anniversaire</label>

            <div class="col-sm-9">
              <textarea type="text" class="form-control" id="nameLabel"
              formControlName="birthDayMessage"></textarea>
            </div>
          </div>
          <!-- End Form Group --> 
         </form>
      </div>
      <!-- End Body -->
      <!-- Footer -->
    <div class="card-footer d-flex justify-content-end">
      <button class="btn btn-white" (click)="annulerMessage()">Cancel</button>
      <span class="mx-2"></span>
      <button class="btn btn-primary" type="submit" (click)="saveMessage()">Save Changes</button>
    </div>
    <!-- End Footer -->
    </div>
    <!-- End Card --> 
</div>