<div *ngIf="data$ | async as data; else elseMsg">
       
    <!-- Card -->
    <div class="card mb-3 mb-lg-5">
      <div class="card-header">
          <a class="btn btn-sm btn-link text-body" [routerLink]="['/classrooms']" >
              <i class="fas fa-angle-left mr-1"></i> Messages
          </a>
          <h5 class="card-title">{{data.classroom.name}}</h5>
      </div>
  
      <!-- Body -->
      <div class="card-body">
        <div class="mb-4">
          <p style="white-space: pre-line; width: calc(100% - 10px);">{{data.classroom.name}}</p>
        </div>
      </div>
      <!-- End Body -->

      <div class="card-footer d-flex justify-content-end">
        <button class="btn btn-white" (click)="annuler()">Cancel</button>
        <span class="mx-2"></span>
        <button class="btn btn-primary" type="submit" (click)="save()">Save Changes</button>
      </div>
    </div>
    <!-- End Card --> 
  
      <!-- Card -->
      <div class="card" *ngIf="!!data.users.length">
          <!-- Header -->
          <div class="card-header">
              <h5 class="card-header-title">Membres</h5>
              <div>
              </div>
          </div>
          <!-- End Header -->
  
          <div class="card-body p-0 card-body-minHeight" >
              <!-- Table -->
              <div class="table-responsive">
                  <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle">
                  <thead class="thead-light">
                      <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Joined at</th>
                      <th>Created at</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of users">
                          <td>
                            <div class="media align-items-center">
                                <span class="avatar avatar-sm avatar-navy avatar-circle mr-3">
                                  <span class="avatar-initials">{{item.lastName.charAt(0).toUpperCase()}}{{item.name.charAt(0).toUpperCase()}}</span>
                                </span>
        
                                <div class="media-body">
                                  <a class="d-inline-block text-dark" [routerLink]="['/members/details', item.id]" routerLinkActive="router-link-active" >
                                    <h6 class="text-hover-primary mb-0">{{item.lastName}} {{item.name}}</h6>
                                  </a>
                                  <small class="d-block">{{item.email ? item.email : ''}}</small>
                                </div>
                              </div>
                          </td>
                          <td>{{item.phone.internationalNumber}}</td>
                          <td>{{getDate(item.classrooms, data.classroom.id).joinedAt | date:'dd/MM/yyyy'}}</td>
                          <td>{{item.createdAt.toDate() | date:'dd/MM/yyyy'}}</td>
                      </tr>
                  </tbody>
                  </table>
              </div>
              <!-- End Table -->
          </div>
  
          <div class="card-footer" *ngIf="!!users">
              <!-- Pagination -->
              <nav class="d-flex justify-content-end mt-5" aria-label="Page navigation">
                  <ngb-pagination [collectionSize]="data.users.length" 
                  [(page)]="page" 
                  [pageSize]="pageSize"
                  (pageChange)="refreshDataPagination(data.users)">
                  </ngb-pagination>
              </nav>
              <!-- End Pagination -->
          </div>
      </div>
      <!-- End Card -->
  </div>
  
  
  <ng-template #elseMsg>
          
    <!-- Card -->
    <div class="card mb-3 mb-lg-5">
      <div class="card-header">
          <a class="btn btn-sm btn-link text-body" [routerLink]="['/messages']" >
              <i class="fas fa-angle-left mr-1"></i> Messages
          </a>
          <h5 class="card-title">Overview</h5>
      </div>
  
      <!-- Body -->
      <div class="card-body">
        <div class="mb-4">
          <p></p>
        </div>
      </div>
      <!-- End Body -->
    </div>
    <!-- End Card --> 
  </ng-template>
  