<div *ngIf="datas$ | async as datas; else elseData">
    <!-- Card -->
    <div class="card">
      <div class="card-header">
        <div class="input-group input-group-merge input-group-borderless">
          <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-search"></i>
              </div>
            </div>
            <input type="search" class="form-control" placeholder="Search name or number" aria-label="Search orders">
        </div>
      </div>
  
      <!-- Content card body -->
      <div class="card-body card-body-minHeight">
        <div>
            <div class="grid-card">
              <student-infos *ngFor="let data of paginatorData" 
              [member]='data'
              (getMemberId)="getMemberId($event)"></student-infos>
          </div>
        </div>
      </div>
      <!-- End card body -->
  
      <div class="card-footer">
          <!-- Pagination -->
          <nav class="d-flex justify-content-end mt-5" aria-label="Page navigation">
            <ngb-pagination [collectionSize]="datas.length" 
            [(page)]="page" 
            [pageSize]="pageSize"
            (pageChange)="refreshDataPagination()">
            </ngb-pagination>
          </nav>
      </div>
      
    </div>
    <!-- End Card -->
  </div>
  
  <ng-template #elseData>
      <!-- Card -->
      <div class="card">
        <div class="card-header">
          <div class="input-group input-group-merge input-group-borderless">
            <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-search"></i>
                </div>
              </div>
              <input type="search" class="form-control" placeholder="Search name or number" aria-label="Search orders">
          </div>
        </div>
    
        <!-- Content card body -->
        <div class="card-body card-body-minHeight">
          <div>
          </div>
        </div>
        <!-- End card body -->
  
      </div>
      <!-- End Card -->
  </ng-template>