<div *ngIf="message$ | async as message; else elseMsg">
       
  <!-- Card -->
  <div class="card mb-3 mb-lg-5">
    <div class="card-header">
        <a class="btn btn-sm btn-link text-body" [routerLink]="['/messages']" >
            <i class="fas fa-angle-left mr-1"></i> Messages
        </a>
        <h5 class="card-title">Overview</h5>
    </div>

    <!-- Body -->
    <div class="card-body">
      <div class="mb-4">
        <p style="white-space: pre-line; width: calc(100% - 10px);">{{message.messageBody}}</p>
      </div>

      <div class="mb-4">
        <span class="badge badge-primary" *ngFor="let item of message.classrooms">
          {{item}}
        </span>
      </div>
    </div>
    <!-- End Body -->
  </div>
  <!-- End Card --> 

    <!-- Card -->
    <div class="card">
        <!-- Header -->
        <div class="card-header">
            <h5 class="card-header-title">Delivers</h5>
            <div>
                <h5 class="text-success">Read 60%</h5>
            </div>
        </div>
        <!-- End Header -->

        <div class="card-body p-0 card-body-minHeight" *ngIf="!!message.delivers">
            <!-- Table -->
            <div class="table-responsive">
                <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle">
                <thead class="thead-light">
                    <tr>
                    <th>Reference</th>
                    <th>Status</th>
                    <th>Name</th>
                    <th>SentAt</th>
                    <th>RecievedAt</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of delivers">
                        <td><a [routerLink]="['']">#3682303</a></td>
                        <td><span class="badge badge-soft-warning">Pending</span></td>
                        <td>{{item.number}}</td>
                        <td>22/04/2020</td>
                        <td>22/04/2020</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <!-- End Table -->
        </div>

        <div class="card-footer" *ngIf="!!message.delivers">
            <!-- Pagination -->
            <nav class="d-flex justify-content-end mt-5" aria-label="Page navigation">
                <ngb-pagination [collectionSize]="message.delivers.length" 
                [(page)]="page" 
                [pageSize]="pageSize"
                (pageChange)="refreshDataPagination()">
                </ngb-pagination>
            </nav>
            <!-- End Pagination -->
        </div>
    </div>
    <!-- End Card -->
</div>


<ng-template #elseMsg>
        
  <!-- Card -->
  <div class="card mb-3 mb-lg-5">
    <div class="card-header">
        <a class="btn btn-sm btn-link text-body" [routerLink]="['/messages']" >
            <i class="fas fa-angle-left mr-1"></i> Messages
        </a>
        <h5 class="card-title">Overview</h5>
    </div>

    <!-- Body -->
    <div class="card-body">
      <div class="mb-4">
        <p></p>
      </div>
    </div>
    <!-- End Body -->
  </div>
  <!-- End Card --> 
</ng-template>
