<div *ngIf="datas$ |async as datas; else elseData">
  <!-- Card -->
  <div class="card">
    <div class="card-header">
      <h5 class="card-header-title">Messages</h5>
      <a class="btn btn-sm btn-primary" [routerLink]="['write']" >
          <i class="fab fa-whatsapp fa-lg mr-1"></i> New
      </a>
    </div>

    <div>
        <div class="card-body p-0 card-body-minHeight" *ngIf="paginatorData.length !== 0">
          <!-- Table -->
        <div class="table-responsive" >
          <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle">
            <thead class="thead-light">
              <tr>
                <th>Messages</th>
                <th>recipients</th>
                <th>recievers</th>
                <th style="width: 5%;"></th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let data of paginatorData">
                <td>
                  <div class="text-truncate" style="max-width: 15rem;">
                    <small>{{ data.messageBody }}</small>
                  </div>
                </td>
                <td>
                  {{data.destinataires.length}}
                </td>
                <td>
                  <span>{{data.createdAt.toDate() | date:'dd/MM/yyyy HH:mm'}}</span>
                </td>
                <td><a class="btn btn-xs btn-white" 
                  [routerLink]="['details', data.messageId]">
                    <i class="fas fa-eye mr-1"></i> view</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- End Table -->
        </div>

        <div class="card-body card-body-minHeight d-flex items-center justify-content-center" *ngIf="paginatorData.length === 0">
          <a class="card card-dashed w-100" >
            <div class="card-body card-body-centered">
              <i class="fas fa-paper-plane fa-lg mb-2"></i>
              No messages sent
            </div>
          </a>
        </div>
    </div>

      <div class="card-footer">

        <!-- Pagination -->
        <nav class="d-flex align-items-center justify-content-end mt-5" aria-label="Page navigation">
          <ngb-pagination *ngIf="!!paginatorData.length" [collectionSize]="datas.length" 
          [(page)]="page" 
          [maxSize]="pageSize"
          [rotate]="false"
          (pageChange)="refreshDataPagination()">
          </ngb-pagination>
        </nav>
      <!-- End Pagination -->
          <!-- Pagination -->
          <!-- <nav class="d-flex justify-content-end mt-5" aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" (click)="before(datas.start)">Prev</a></li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" (click)="next(datas.end)">Next</a></li>
            </ul>
          </nav> -->
          <!-- End Pagination -->
      </div>

  </div>
  <!-- End Card -->
</div>

<ng-template #elseData>
  <!-- Card -->
  <div class="card">
    <div class="card-header">
      <h5 class="card-header-title">Messages</h5>
      <a class="btn btn-sm btn-primary" [routerLink]="['write']" >
          <i class="fab fa-whatsapp fa-lg mr-1"></i> New
      </a>
    </div>

      <!-- Table -->
      <div class="card-body card-body-minHeight">
        <div class="d-flex justify-content-end card-body-minHeight">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
      <!-- End Table -->


  </div>
  <!-- End Card -->
</ng-template>
