<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="bg-white rounded-lg overflow-auto">
        <div class="bg-success d-flex justify-content-center align-items-center px-11 py-4">
            <i class="far fa-check-circle fa-6x text-white"></i> 
        </div>
        <div class="p-4 text-center">
            <h2>Félicitation</h2>
            <p>Vous êtes bien enregistré.</p>
        </div>
    </div>
</div>