<div class="card">
    <div class="card-header">
        <h5>Informations sur les parents</h5>
    </div>

    <!-- Body content -->
    <div class="card-body">
        <form [formGroup]="form">
             <!-- Form Group -->
             <div class="row col-lg-8 mx-auto col-sm-12 col-xl-8 p-0 form-group">
                <label class="col-sm-3 col-form-label input-label">Avec qui vis tu ? <span class="text-danger">*</span></label>

                <div class="col-sm-9">
                    <div class="input-group input-group-md-down-break">
                    <!-- Custom Radio -->
                    <div class="form-control">
                        <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" formControlName="responsable" name="responsable" value="les_2_parents" id="parent1" checked>
                        <label class="custom-control-label" for="parent1">Les 2 parents</label> 
                        </div>
                    </div>
                    <!-- End Custom Radio -->

                    <!-- Custom Radio -->
                    <div class="form-control">
                        <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" 
                        formControlName="responsable" name="responsable"
                        value="papa" id="parent2">
                        <label class="custom-control-label" for="parent2">Papa</label>
                        </div>
                    </div>
                    <!-- End Custom Radio -->

                    <!-- Custom Radio -->
                    <div class="form-control">
                        <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" formControlName="responsable" name="responsable" 
                        value="maman" id="parent3">
                        <label class="custom-control-label" for="parent3">Maman</label>
                        </div>
                    </div>
                    <!-- End Custom Radio -->

                    <!-- Custom Radio -->
                    <div class="form-control">
                        <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" formControlName="responsable" name="responsable"
                        value="garde_partagee" id="parent4">
                        <label class="custom-control-label" for="parent4">Garde partagée</label>
                        </div>
                    </div>
                    <!-- End Custom Radio -->

                    <!-- Custom Radio -->
                    <div class="form-control">
                        <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" formControlName="responsable" name="responsable"
                        value="frere_ou_soeur" id="parent5">
                        <label class="custom-control-label" for="parent5">Frère ou soeur</label>
                        </div>
                    </div>
                    <!-- End Custom Radio -->

                    <!-- Custom Radio -->
                    <div class="form-control">
                        <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" formControlName="responsable" name="responsable"
                        value="tuteur" id="parent6">
                        <label class="custom-control-label" for="parent6">Tuteur</label>
                        </div>
                    </div>
                    <!-- End Custom Radio -->

                    <!-- Custom Radio -->
                    <!-- <div class="form-control">
                        <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="accord-parent" id="parent2">
                        <label class="custom-control-label" for="accord2">Autre </label>
                        </div>
                    </div> -->
                    <!-- End Custom Radio -->

                    </div>
                </div>
            </div>
            <!-- End Form Group -->

            <ng-container [formGroup]="parent1">
                <div class="form-group col-lg-8 mx-auto col-sm-10 col-md">
                    <label class="input-label" for="email">Son nom (Personne avec qui tu vis nº1) <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" [class.is-invalid]="parent1.get('nom').touched && parent1.get('nom').getError('required')" formControlName="nom">
                    <small *ngIf="parent1.get('nom').touched && parent1.get('nom').getError('required')"class="text-danger">Ce champ est obligatoire.</small>
                </div>
    
                <div class="form-group col-lg-8 mx-auto col-sm-10 col-md d-flex flex-column">
                    <label class="input-label" for="email">Son numéro du parent (Personne avec qui tu vis nº1) <span class="text-danger">*</span></label>
                    <ngx-intl-tel-input
                    [cssClass]=" parent1.get('phone').touched && (parent1.get('phone').getError('required') || parent1.get('phone').getError('validatePhoneNumber')) ? 'form-control is-invalid' : 'form-control'"
                        [enableAutoCountrySelect]="false"
                        [enablePlaceholder]="true"
                        [searchCountryFlag]="true"
                        [selectFirstCountry]="false"
                        [phoneValidation]="true"
                        [separateDialCode]="true"
                        [selectedCountryISO]="'ci'"
                        name="phone"
                        formControlName="phone"
                    ></ngx-intl-tel-input>
                    <small *ngIf="parent1.get('phone').touched && parent1.get('phone').getError('required')"class="text-danger">Ce champ est obligatoire.</small>
                    <small *ngIf="parent1.get('phone').touched && parent1.get('phone').getError('validatePhoneNumber')" class="text-danger">Le numéro n'est pas correct.</small>
                </div>
            </ng-container>


            <ng-container *ngIf="responsable.value === 'les_2_parents'" [formGroup]="parent2">
                <div class="form-group col-lg-8 mx-auto col-sm-10 col-md" >
                    <label class="input-label" for="nom2">Deuxième nom du responsable (Personne avec qui tu vis) <span class="text-danger">*</span></label>
                    <input type="text" id="nom2" class="form-control" [class.is-invalid]="parent2.get('nom').touched && parent2.get('nom').getError('required')" formControlName="nom">
                    <small *ngIf="parent2.get('nom').touched && parent2.get('nom').getError('required')"class="text-danger">Ce champ est obligatoire.</small>
                </div>
    
                <div class="form-group col-lg-8 mx-auto col-sm-10 col-md">
                    <label class="input-label" for="email">Deuxième numéro (Personne avec qui tu vis) <span class="text-danger">*</span></label>
                    <ngx-intl-tel-input
                    [cssClass]="parent2.get('phone').touched && parent2.get('phone').getError('validatePhoneNumber') ? 'form-control is-invalid' : 'form-control'"
                        [enableAutoCountrySelect]="false"
                        [enablePlaceholder]="true"
                        [searchCountryFlag]="true"
                        [selectFirstCountry]="false"
                        [phoneValidation]="true"
                        [separateDialCode]="true"
                        [selectedCountryISO]="'ci'"
                        name="phone"
                        formControlName="phone"
                    ></ngx-intl-tel-input>
                    <small *ngIf="parent2.get('phone').touched && parent2.get('phone').getError('required')"class="text-danger">Ce champ est obligatoire.</small>
                    <small *ngIf="parent2.get('phone').touched && parent2.get('phone').getError('validatePhoneNumber')" class="text-danger">Le numéro n'est pas correct.</small>
                </div>
            </ng-container>
            

            <!-- Form Group -->
            <div class="row col-lg-8 mx-auto col-sm-12 col-xl-8 p-0 form-group">
                <label class="col-sm-3 col-form-label input-label">Tes parents sont ils d'accord pour que tu viennes à BLOOM? <span class="text-danger">*</span></label>

                <div class="col-sm-9">
                    <div class="input-group input-group-md-down-break">
                    <!-- Custom Radio -->
                    <div class="form-control">
                        <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" formControlName="accordParent" name="accordParent"
                        value="oui" id="accord1" checked>
                        <label class="custom-control-label" for="accord1">Oui</label> 
                        </div>
                    </div>
                    <!-- End Custom Radio -->

                    <!-- Custom Radio -->
                    <div class="form-control">
                        <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" formControlName="accordParent" name="accordParent"
                        value="non" id="accord2">
                        <label class="custom-control-label" for="accord2">Non</label>
                        </div>
                    </div>
                    <!-- End Custom Radio -->
                    </div>
                </div>
            </div>
            <!-- End Form Group -->
        </form>
    </div>
    <!-- End body content -->

    <div class="card-footer d-flex justify-content-between">
        <button class="btn btn-soft-primary" (click)="OnPrevious()">Précédent</button>
        <button class="btn btn-primary" (click)='OnNext()' [disabled]='form.invalid' >Suivant</button>
    </div>
</div>