/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

::-webkit-input-placeholder { /* Edge */
    color: #71869d;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #71869d;
  }
  
  ::placeholder {
    color: #71869d;
    font-size: .9rem;
  }

.grid-card {
    display: grid;
    column-gap: 1em;

    & .grid-content {
      margin: 0 auto;
    }
    

}

.iti {
  width: 100%;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  .grid-card {
    grid-template-columns: repeat(1, 1fr);
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .grid-card {
    grid-template-columns: repeat(2, 1fr);
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .grid-card {
    grid-template-columns: repeat(3, 1fr);
  }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  .grid-card {
    grid-template-columns: repeat(3, 1fr);
  }
 }

 .card-body-minHeight {
  min-height: 20rem;
}
