<!-- student infos -->
<div class="grid-content">
    <div class="border rounded-lg card p-3">
        <div class="media">
            <span class="avatar avatar-sm avatar-circle bg-soft-primary mr-3 d-flex align-items-center justify-content-center">
                <i class="fa fa-graduation-cap"></i>
            </span>
    
            <div class="d-flex flex-grow-1 flex-column">
                <div class="media-body">
                    <a class="d-inline-block text-dark" href="#">
                      <h6 class="text-hover-primary mb-0">{{classroom.name.toLocaleUpperCase()}}</h6>
                    </a>
                </div>          
                <div class="d-flex justify-content-end mt-1">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-ghost-primary btn-xs" id={{classroom.id}} ngbDropdownToggle> Actions</button>
                        <div ngbDropdownMenu>
                          <button ngbDropdownItem  data-toggle="modal" data-target="#showgroup" (click)="show()">Membres</button>
                          <!-- <button ngbDropdownItem (click)="deleteMember(classroom.id)">Supprimer</button> -->
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>
</div>
<!-- End student infos -->